
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure reporting
allure-results/
allure-report/

# Playwright reports
playwright-report/
test-results/